{% extends 'layouts/base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<section id="inscription" class="container">
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}

    <div class="row">
        <div class="col-sm-6 col-md-6 col-6">
            {{ form_row(registrationForm.prenom) }}
        </div>
        <div class="col-sm-6 col-md-6 col-6">
            {{ form_row(registrationForm.nom) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-6">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="col-sm-6 col-md-6 col-6">
            {{ form_row(registrationForm.date_naissance) }}
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-6">
        {{ form_row(registrationForm.adresse) }}
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-6">
            {{ form_row(registrationForm.plainPassword) }}
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-6 text-muted">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

    <div class="d-flex justify-content-between py-5">
        <button type="submit" class="me-1 btn btn-outline-success w-50">S'inscrire</button>
        <a href="{{ path('app_login') }}" class="ms-1 btn btn-outline-danger w-50">Oups, j'ai deja un compte, me connecter</a>
    </div>
<div class="mt-5"> </div>
    {{ form_end(registrationForm) }}
</section>
{% endblock %}
