{% extends "layouts/base.html.twig" %}

{% block title %}Mes réservations
{% endblock %}

{% block body %}
	<h1 class="ms-2 p-2 title d-inline">Mes réservations</h1>
    <section class="container" id="Réservation-en-cours">
        {#  Début de test  #}
        {% for reservation in reservations %}
            <div id='reservation-{{ reservation.id }}' class="mt-5 mb-2 d-flex justify-content-between">
                <h3>{{ loop.index }} | {{ reservation.empruntedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") |capitalize }}</h3>
                <span class="fw-bold">Statut :
                    {% set TODAY =  'now'|date("Y-m-d") %}
                    {% set RESTITUTION = reservation.empruntedAt|date_modify("+21 day")|date("Y-m-d") %}
                    {% if ( TODAY > RESTITUTION ) %}
                        <span class="bg-danger text-white px-2 my-2 fw-bold ls-2 rounded" style="letter-spacing: 2px;">RETARD</span>
                        <br>
                        <span>Date limite : {{ RESTITUTION|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</span>
                    {% else %}
                        <span class="bg-success text-white px-2 my-2 fw-bold ls-2 rounded" style="letter-spacing: 2px;">Okay</span>
                        <br>
                        <span>Date limite : {{ RESTITUTION|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</span>
                    {% endif %}
                </span>
            </div>
                <hr class={{TODAY > RESTITUTION ? 'expired' : 'not-expired'}} >
            {% for livre in reservation.livre %}
                    <div class = "list-group mb-2">
                        <a href = "{{ path('app_detail_livre', {'id': livre.id} ) }}" class = "{{TODAY > RESTITUTION ? 'bg-danger text-white fw-bold' : ''}} list-group-item" style="--bs-bg-opacity: .75;">
                            <h5 class = "list-group-item-heading">{{ livre.titre|capitalize }}</h5>
                        </a>
                    </div>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}
