<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
	{% if app.user %}
		<div id="user-connect mx-auto">
		<span class="navbar-brand mb-0 h1 ms-3 d-block">
			<a class="text-decoration-none text-success" href="{{path('app_home')}}">Médiathèque</a>
		</span>
			{# Afficher le nom et la capacité d"emprunt	#}
			{% if app.user.isAutorise%}
				<span style="font-size:1.1em;" class="badge bg-primary ms-1 mx-auto d-block">{{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}
					<span class="badge bg-light text-success">{{ app.user.empruntMax }}</span>
				</span>
			{% endif %}
	</div>
	{% endif %}

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{% if app.user %}
		{% if app.user.isAutorise %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav p-2">
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_livre')}}">Catalogue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('detail_reservation', {'id': app.user.id} ) }}">Mes réservations</a>
					</li>
					{% if is_granted ("ROLE_LIBRAIRE") %}
						{% if is_granted ("ROLE_ADMIN") and is_granted ("ROLE_LIBRAIRE") %}
							<li class="nav-item">
								<a class="nav-link btn btn-sm btn-outline-danger ms-1" href={{path('admin')}}>Admin</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('add_livre') }}">Ajouter un livre</a>
							</li>
							<li class="nav-item">
								<a class="nav-link btn btn-sm btn-outline-warning me-1" href="{{path('libraire')}}">Gestion Libraire</a>
							</li>
						{% endif %}



					{% endif %}


				</ul>
				<ul class="nav navbar-nav ms-auto">
					<div class="d-flex justify-content-end">
						<li><a class="btn btn-sm btn-outline-success px-3 m-1" href="{{path('panier')}}"><i class="fas fa-shopping-cart me-3"></i>Panier</a></li>
						<li><a class="btn btn-sm btn-outline-danger px-3 m-1 me-5" href="{{path('app_logout')}}">Déconnexion</a></li>
					</div>
				</ul>
			</div>
		{% endif %}
	{% endif %}
</nav>
