{% for livre in livres %}
	<div class="col" id="livre-{{livre.id}}">
		<div class="card shadow rounded border border-2 border-secondary mb-2" style="width-max: 15rem;">
			<img src="{{ livre.illustration }}" class="card-img img-fluid p-1" alt="{{livre.titre}}" height="50" style="border-radius: 7px;">

			<div
				class="card-body">
				<div class="d-flex justify-content-between">
					<h5 class="card-title">
						<a class="{{livre.quantite > 0 ? 'text-success' : 'text-danger'}} text-decoration-none h3" href="{{ path('app_detail_livre', {'id': livre.id} ) }}">{{livre.titre|capitalize}}</a>
					</h5>
					{% if livre.quantite > 0 %}
						<span>✅</span>
					{% else %}
						<span>❌</span>
					{% endif %}
				</div>
				{% if livre.genre is not null %}
				<span class="badge bg-light text-primary fw-light me-auto">
					{{livre.genre}}
				</span>
				{% endif %}
				
				<p class="card-text lead">
					{{livre.description|u.truncate(50, '...')}}
				</p>
			</div>

			<div class="card-footer d-flex justify-content-between mb-1 p-2">
				<span class="text-muted">{{livre.auteur}}</span>
				<span class="text-muted">{{livre.parution|date('Y')}}</span>
			</div>

			{# ! Ne pas afficher si Non Disponible #}
			{% if livre.quantite == 0 %}
				<span class="py-3 bg-danger text-uppercase text-center fw-bold text-white">
					🔒 ce livre n'est plus disponible
				</span>
			{% else %}
				<div class="d-flex justify-content-around">
					<a 
						href = {{ path('add_reservation', {'id': livre.id} ) }}
						class="btn btn-outline-success w-50 mx-auto my-3 position-relative">
						<i class="fas fa-cart-plus me-3"></i>Réserver
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
							{{ livre.quantite }}
							<span class="visually-hidden">exemplaire disponible</span>
						</span>
					</a>
					<a 
						href ="#"
						class="btn btn-sm btn-outline-primary w-25 mx-auto my-3 position-relative">Détail
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endfor %}
