{% extends 'layouts/base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 text-dark max-vh-100">
					<p class="lead text-center mx-auto fw-bold">
						Filtrer
					</p>
					<form id="filtre">
						{% for genre in genres %}
							{% if (genre.livres|length != 0) %}
								<p>
									<input type="checkbox" name="genre[]" id="genre{{genre.id}}" value="{{genre.id}}">
									<label for="genre{{genre.id}}">{{genre.nom}}</label>
								</p>
							{% endif %}
						{% endfor %}
						<input type="hidden" name="page" value="{{page}}">
					</form>
					<hr>
				</div>
			</div>

			<div class="col py-3" id="livres-cartes">
				<div class="row row-cols-1 row-cols-md-3 g-4" id="content">
					{% include "livre/_content_ajax.html.twig" %}
				</div>
			</div>

		</div>
	</div>

	{% include 'partials/_pagination.html.twig' %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/filtres.js') }}"></script>
{% endblock %}
