{# {% extends '@EasyAdmin/layout.html.twig' %} #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Reservation
{% endblock %}


{% block content %}
	<section class="container">
	<div class="row">
		<div class="col-6">
			<div class="alert alert-info">
				<p>Lorsqu'une restitution n'est pas faites dans le temps imparti envoyé un mail en cliquant sur le boutton <b>Mail</b> un email sera envoyé.
				</p>
				<p>
					Rendez-vous dans <b>Gestion de l'emprunt</b> pour effectuer la restitution.
				</p>
			</div>
		</div>
		<div class="col-6">
			<h1 class="text-center p-2">Réservations</h1>
		</div>
	</div>
		<table class="table text-center">
			<thead>
				<tr>
					<th>Numéro</th>
					<th>Livre</th>
					<th>Emprunteur</th>
{#					<th>Date d'emprunt</th>#}
					<th>Date de restitution</th>
					<th class="text-center">Etat Réservation</th>
					<th>Rendu</th>
				</tr>
			</thead>
			<tbody>
				{% for reservation in reservations %}
					{% if reservation.isRestitue == false %}
						<tr>
							<td>
								{{ reservation.id }}
							</td>

							<td>
								<ul>
									{% for livre in reservation.livre %}
										<li>
											{{ livre }}
										</li>
									{% endfor %}
								</ul>
							</td>

							<td>
								{{ reservation.user.fullname }}
							</td>

					{#		<td>
								{{ reservation.empruntedAt|date('d-m-Y à H:i') }}
							</td>#}

							<td>
								{{ reservation.empruntedAt|date_modify("+21 day")|date("d-m-Y")}}
							</td>

{#							<td>#}
{#							<div class="">#}
{#							<span class="bg-primary text-white rounded px-1 py-1 fw-light">#}
{#								{{reservation.status}}#}
{#							</span>#}
{#							</div>#}

{#							</td>#}

							{% set TODAY =  'now'|date("Y-m-d") %}
							{% set RESTITUTION = reservation.empruntedAt|date_modify("+21 day")|date("Y-m-d") %}

							<td class="mb-1">
								{% if ( TODAY > RESTITUTION ) %}
									<div class="d-flex justify-center justify-content-between">
										<span class="text-white rounded px-1 py-1 fw-light" style="background-color:red">
											RETARD
										</span>
										<a class="btn btn-sm btn-warning px-1 py-1 fw-bold" href="{{path('mailing',{'id':reservation.id})}}">Mail</a>
									{% else %}
										<span class="text-white label px-1 py-1 fw-bold rounded" style="background-color:green">
											OKAY
										</span>
									</div>
								{% endif %}
							</td>

							{# Todo-1 : Bouton de restitituion d'emprunt #}
							<td class="">
								{% if (reservation.isRestitue) == false %}
									<a class="btn btn-sm btn-primary">Enregistrer la restitution</a>
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}

			</tbody>
		</table>
	</section>
{% endblock %}
